body{
    background:#fff;
    font-size: 100%;
    font-family: Arial;
    color: #000;
    margin: 0;
    padding: 0;
    width:100%;
    margin-top: 0.5em;
}
a{
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}
header{
    position:relative;
    margin: 0;
    padding: 0.2em 0;
    background: #fff;
    text-align: left;
    font-size: 120%;
    vertical-align: middle;
    font-weight:bold;
}
header span{
    vertical-align: middle;
    padding:0;
    margin:0;
}
nav {
    clear:both;
    background:#fcc;
    border-top:1px solid #900;
    border-bottom: 1px solid #900;
}
nav ul {
    margin:0;
    text-align:left;
}
nav ul li {
    list-style-type: none;
    display: inline;
    padding: 0.08em 0.5em 0 0;
}
nav ul li a {
    color:#500;
    font-size:1.2em
}
nav ul li a:hover {
    border-bottom: 0.2em solid #f90;
}
#header_search{
    position:relative;
    display:inline-block ;
    white-space: nowrap;
    min-width: 4em;
    max-width: 30em;
}
#searchfield{
    width:100%;
    border:0;
    margin-right:-3em;
}
#dosearch{
    position:absolute;
    right:0;
    vertical-align: middle;
    padding:0;
    margin:0;
    background-image: url('../images/lupe.gif');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #777777;
    height:1.8em;
    width:3em;
    border:0;
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
}
#btn_login{
    position:absolute;
    right:1em;
    margin:auto;
}
#menubutton {
    display:none;
    height:1em;
    padding: 0.5em;
    vertical-align: middle;
}
.tube {
    background:#f00;
    padding:0.2em;
    color:#fff;
    border-radius: 0.5em;
    font-weight:100;
    -webkit-text-stroke-width: 1px;
    -webkit-font-smoothing: antialiased;
}
#main_column{
    float:left;
    width:70%;
}
aside{
    float:right;
    width: 25%;
}
footer {
    clear:both;
    text-align:left;
    width:100%;
    padding-top:2em;
    font-size:0.7em;
    color:#777;
}
footer ul {
    list-style-type: none;
    border-top: 1px solid #aaa;
    margin: 2em 0;
    padding:0;
}
footer ul li{
    display:inline-block;
    padding: 0.2em 0.5em;
}
#youtube{
    background:#000;
    width:100%;
    height:100%;
}
.videoWrapper{
    position:relative;
    padding-bottom: 56.25%;
    height:0;
}
.videoWrapper object,
.videoWrapper embed{
    position:absolute;
    top:0;left:0;
    width:100%;height:100%;
}
.roundLightBorder{
    border: 1px solid #bbb;
    border-radius: 0.2em;
}
.roundBlueButton{
    border-radius: 0.2em;
    border:1px solid #3333aa;
    background-color: #009;
    color:#fff;
    margin:auto;
    font-size:0.7em;
    vertical-align: middle;
}
aside section{
    padding:1em;
}
.show_on_600{
    display: none;
}
.vert_center{
    vertical-align: middle;
}

@media screen and (max-width: 1000px){
    .hide_on_1000{
        display:none;
        padding:0;
    }
    .show_on_1000{
        display:inline;
    }

}
@media screen and (max-width: 600px){
    nav {
        display:none;
    }
    #menubutton{
        display: inline;
    }
    #menubutton:hover > nav{
        display:block;
    }
    aside {
        float:none;
        width:100%;
    }
    #main_column{
        float:none;
        width:100%;
    }
    #header_text{
        display:none;
    }
    nav ul li {
        display:block;
        margin:0.188em 0;
    }
    nav ul li a {
        transition: background 0.5s;
        -webkit-transition: background 0.5s;
    }
    .hide_on_600{
        display:none;
        padding:0;
    }
    .show_on_600{
        display:inline;
    }
    #navigation_list > ul{
        transition: visibility 1s, opacity 1s;
        -webkit-transition: visibility 1s, opacity 1s;
    }
}
@media screen and (max-width: 450px){
    .hide_on_400{
        display:none;
        padding:0;
    }
    .show_on_400{
        display:inline;
    }
}